/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* common style or utilities */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

hr {
    border: 1px solid #D1D1D1;
}

/* top player style */
.top-players {
    margin-bottom: 33px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin: 3px 0 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}