/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* common style or utilities */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

hr {
    border: 1px solid #D1D1D1;
}

/* top players style */
.top-players {
    margin-bottom: 33px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin: 3px 0 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs styles */
.top-blogs {
    margin-top: 27px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
    padding: 0 10px;
}

.blog>.thumbnail>img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-info p {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.blog-author {
    text-decoration: none;
    color: #562EFF;
    font-weight: 400;
}

/* latest courses style */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course {
    margin: 15px;
    box-shadow: 10px 10px 20px lightgray;
    border-radius: 10px;
    padding: 15px;
}

.course .thumbnail {
    width: 100%;
    height: 104px;
}

.course-title {
    font-size: 16px;
    margin: 5px 0;
}

.course-author {
    text-decoration: none;
    font-size: 14px;
    color: orangered;
}

.rating-duration {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.stars {
    color: #FFC014;
    margin-top: 5px;
}

.stars>span {
    color: #a0a0a0;
}

.duration {
    color: orangered;
    background-color: #fdeae3;
    padding: 5px 10px 2px;
    border-radius: 20px;
    font-weight: 600;
}